$black: #000 !default
$darkgray: #888 !default
$gray: #a9a9a9 !default
$lightgray: #d3d3d3 !default
$bg-color: #eee !default
$white: #fff !default

$font-color: $black !default
$font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !default
$chat-input-color: $font-color !default
$mic-volume-border-color: $black !default

$toolbar-hover-bg-color: $lightgray !default
$toolbar-hover-border-color: $gray !default
$toolbar-active-bg-color: $white !default
$toolbar-active-border-color: $toolbar-hover-bg-color !default
$dialog-header-color: $white !default
$dialog-header-bg-color: $darkgray !default
$dialog-header-border-bottom-color: $gray !default
$dialog-bg-color: $bg-color !default
$dialog-border-color: $darkgray !default
$dialog-color: $font-color !default
$dialog-button-border-color: $darkgray !default
$dialog-button-bg-color: $white !default
$dialog-button-color: $dialog-color !default
$dialog-input-border-color: $darkgray !default
$dialog-input-bg-color: $white !default
$dialog-input-color: $dialog-color !default

html, body {
  background-color: $bg-color;
  color: $font-color;
  font-family: $font-family;
  margin: 0;
  overflow: hidden;
  height: 100%
}
#container {
  height: 100%;
}

.guacamole {
  display: block;
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  height: calc(99% - 38px);
}
iframe {
  width: 100%;
  height: 100%;
}

.toolbar-horizontal {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  height: 36px;
  width: 100%;
}
.toolbar-horizontal img {
  height: 28px;
  width: 28px;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.toolbar-horizontal img:hover {
  border: 1px solid $toolbar-hover-bg-color;
  background-color: $toolbar-hover-border-color;
}
.toolbar-horizontal .tb-active {
  border: 1px solid $toolbar-active-bg-color;
  background-color: $toolbar-active-border-color;
}
#message-box {
  border: none;
  background: none;
  color: $chat-input-color;
  margin: 5px 0 5px 0;
  padding: 2px;
  height: 20px;
  width: 100%;
}
form {
  margin: 0;
  padding: 0;
}

.tb-information.disabled, .tb-record {
  filter: grayscale(100%);
}
.dialog-header {
  height: 20px;
  width: calc(100% - 10px);
  padding: 5px;
  text-align: center;
  color: $dialog-header-color;
  background-color: $dialog-header-bg-color;
  border-bottom: 1px solid $dialog-header-border-bottom-color;
}
.dialog-footer {
  width: calc(100% - 20px);
  margin: 10px;
}
.dialog-submit {
  float: right;
}
.dialog-close, .dialog-submit {
  width: 45%;
  font-size: 15px;
  border: 1px $dialog-button-border-color solid;
  border-radius: 3px;
  background-color: $dialog-button-bg-color;
  color: $dialog-button-color;
  padding: 1px;
  cursor: pointer;
}
.connect-dialog table {
  text-align: center;
  width: 100%
}
.dialog {
  position: absolute;
  max-height: calc(100% - 20px);
  max-width: calc(100% - 20px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: $dialog-bg-color;
  color: $dialog-color;
  border: 1px $dialog-border-color solid;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 20;
}
.settings-dialog table {
  width: 100%;
  padding: 5px;
}
.settings-dialog td {
  width: 50%;
}
.settings-dialog table select {
  width: 100%;
}
.settings-dialog table input {
  width: 100%;
  margin: 0px;
}
.settings-dialog table input[type="checkbox"] {
  width: auto;
  margin: auto;
}
.settings-dialog .mic-volume-container {
  height: 10px;
  border: 3px solid $mic-volume-border-color;
}
.settings-dialog .mic-volume {
  height: 100%;
}
.join-dialog {
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
}
.join-dialog .dialog-submit {
  float: none;
  width: 200px;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 100px);
}
.connect-dialog input[type=text], select {
  font-size: 15px;
  border: 1px $dialog-input-border-color solid;
  border-radius: 3px;
  background-color: $dialog-input-bg-color;
  color: $dialog-input-color;
  padding: 2px;
  width: calc(100% - 8px);
}
.connect-dialog input[type=password] {
  font-size: 15px;
  border: 1px $dialog-input-border-color solid;
  border-radius: 3px;
  background-color: $dialog-input-bg-color;
  color: $dialog-input-color;
  padding: 2px;
  width: calc(100% - 8px);
}
.connection-info-dialog {
  h3 {
    margin-bottom: 5px;
  }
  .dialog-content {
    padding-left: 20px;
  }
}


/* Mobile view */

@media only screen and (max-width: 600px) and (min-width: 320px) and (min-height: 600px)  {

  #message-box {
    margin: 10px 5px 10px 5px;
    padding: 10px;
    height: 2em;
    font-size: 1.2em;
    font-weight: bold;
  }

  .dialog {
    min-width: 350px;
  }
}
