/.vagrant/
/**/*.box
/**/*.ovf
/**/*.vmdk
/packer_cache/*

/packer-desktop/vartmp-uploads/gateway/guacamole/data/
/packer-desktop/vartmp-uploads/common/ssh/
/packer-desktop/builds/
/packer-desktop/vartmp-uploads/gateway/guacamole/murmur_config/murmur.ini
/packer-desktop/vartmp-uploads/gateway/guacamole/docker-compose.yml
/.ssh/
/.oci/
/.terraform/
/.ssh/
