/.vagrant/
/**/*.box
/**/*.ovf
/**/*.vmdk
/packer_cache/*
/packer-desktop/uploads/guacamole/data/
/packer-desktop/uploads/guacamole/letsencrypt/certbot/logs/letsencrypt.log.3
/packer-desktop/uploads/guacamole/letsencrypt/certbot/logs/letsencrypt.log
/packer-desktop/uploads/guacamole/letsencrypt/certbot/logs/letsencrypt.log.1
/packer-desktop/uploads/guacamole/letsencrypt/certbot/logs/letsencrypt.log.2
/packer-desktop/uploads/guacamole/murmur_data/murmur.sqlite
